* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 2px;
  }
  
  .fila {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
  }
  
  .columna {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
  }
  
  .columna img {
    margin-top: 8px;
    vertical-align: middle;
    align-items: center;
  }

  @media (max-width: 720px) {
    .columna {
      flex: 33.3%;
      max-width: 33.3%;
    }
  }

  @media (max-width: 600px) {
    .columna {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .columna {
      flex: 100%;
      max-width: 100%;
    }
  }